
h1{
    color:red;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuRoDJF6mKFenPWEMDN1UOYnJ420PBj_SocA&usqp=CAU");
    font-size: 100px;
   text-align: center;

    
    width: 100px;
    height: 100px;
    display: inline-block
}
button{
    color: red;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuRoDJF6mKFenPWEMDN1UOYnJ420PBj_SocA&usqp=CAU");
    font-size: 30px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0px 5px 20px;
}


@media screen and (max-width:500px){
    #h00{
         font-size: 60px !important;
         width: 400px !important;


    }
}

@media screen and (max-width:400px){
    #h00{
         font-size: 50px !important;
         width: 330px !important;
         height: 70px !important;


    }
}

@media screen and (max-width:320px){
    #h00{
         font-size: 45px !important;
         width: 280px !important;
         height: 70px !important;


    }
}
button:hover{
    cursor: pointer;
    background-color: black;
    font-size: 30px;
    color:white;
    font-weight: bolder;
}

@media  screen  and (max-width:1200px){
    #div2{
        width: 500px !important;
        margin-left: 300px !important;
    }
}
@media  screen  and (max-width:1200px){
    #div1{
        width: 500px !important;
        margin-left: 350px !important;
    }
}
@media  screen  and (max-width:860px){
    #div2{
        width: 500px !important;
        margin-left: 100px !important;
    }
}
@media  screen  and (max-width:860px){
    #div1{
        width: 500px !important;
        margin-left: 150px !important;
    }
}
@media  screen  and (max-width:600px){
    #div2{
        width: 500px !important;
        margin: auto 0 !important;
    }
}



@media  screen  and (max-width:600px){
    #div1{
        width: 500px !important;
        margin-left: auto !important;
    }
}
@media  screen  and (max-width:500px){
    #div2{
        width:100% !important;
        margin: 0 auto !important;
       
 }}
 @media  screen  and (max-width:500px){
    #div2{
        width:100% !important;
        margin: 0 auto !important;
       
 }}
 
 @media  screen  and (max-width:400px){
    #msec ,#sec, #min{
        width:60px !important;
        height: 60px !important;
        font-size: 50px !important;
        /* margin-top: 80px !important;  
        margin-bottom: 40px !important; */

    }
}
@media  screen  and (max-width:400px){
    #h12{
        width:20px !important;
        height: 60px !important;
        font-size: 50px !important;
        /* margin-top: 80px !important;  
        margin-bottom: 40px !important; */

    }
}










 @media  screen  and (max-width:471px){
    #msec ,#sec, #min{
        width:70px !important;
        height: 70px !important;
        font-size: 60px !important;
        margin-top: 80px !important;  

    }
}
@media  screen  and (max-width:471px){
    #h12{
        width:20px !important;
        height: 70px !important;
        font-size: 60px!important;
        margin-top: 80px !important;   
        

    }}

    @media  screen  and (max-width:500px){
        #btn,#btn1,#btn2{
             
            margin:0px !important;
            font-size: 30px !important;
            width: 100px !important;
            height: 50px !important;
            border-radius: 5px !important;
    
        }}
        @media  screen  and (max-width:400px){
            #btn,#btn1,#btn2{
                 
                margin:0px !important;
                font-size: 30px !important;
                width: 80px !important;
                height: 40px !important;
                border-radius: 5px !important;
        
            }}
        
    